img.checkout_ad{
    width: auto;
    margin-top: 1em;
    margin-left: 1em;

    margin-bottom: 10px;
    object-fit: contain;
}

.checkout_title{
margin-top: 1em;
margin-left: 1em;
}

.checkout{
    display: flex;
}